body {
    margin: 0;
    padding: 0;
}
.content {
    margin: 0;
    padding: 0;
    display: flex;
}
aside {
    margin: 2em 1em 1em 3em;
    display: flex;
    flex-direction: column;
}
.search form {
    display: flex;
    padding: 0.3em;
    width: 11.8em;
    border-radius: 1em;
    background-color: #f6f6f6;
}
.search [type="search"] {
    width: 10em;
    height: 1.8em;
    border: none;
    border-radius: 1em;
    background-color: #f6f6f6;
    font-family: Verdana, Geneva, sans-serif;
}
.search [type="image"] {
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}
.shortcut {
    margin-top: 2em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.shortcut label {
    font-size: 15pt;
}
.shortcut ul {
    list-style-type: none;
    background-color: #f6f6f6;
    width: 7em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em darkgray;
}
.shortcut li {
    margin-left: -2.5em;
    padding: 0.7em 0.5em;
    border-bottom: 0.1em solid #cccccc;
    text-align: center;
    text-decoration: none;
    color: black;
}
.shortcut li input {
    border: none;
    background-color: #f6f6f6;
    color: black;
    cursor: pointer;
}
.shortcut li a:hover {
    color: blue;
}
.shortcut .last {
    border: none;
}
.right {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2em;
    background-color: #f6f6f6;
    border-radius: 1em;
}
.filter {
    display: flex;
    justify-content: space-around;
    margin: 3em 2em 2em;
}
.filter * {
    margin-left: 1em;
}
.filter select {
    width:12em;
    border-radius: 0.3em;
    font-family: Verdana, Geneva, sans-serif;
}
.filter [type="submit"] {
    width: 9em;
    height: 2.3em;
    background-color: #5fba4f;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
}
.filter [type="button"]:hover {
    background-color: #67ca56;
}
.images .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 0.2em dashed #c6c6c6;
}
.images .item {
    padding: 0.7em;
    background-color: #e7e7e7;
    border-radius: 0.5em;
    width: 11em;
    height: 11em;
    margin: 2em;
}
.images img {
    border-radius: 0.2em;
    width: 11em;
    height: 11em;
    object-fit: none;
}
.page {
    margin-left: auto;
    margin-right: auto;
    height: 1.5em;
    background-color: #f6f6f6;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.5em;;
}
.page a {
    margin-left: 2em;
    text-decoration: none;
    color: black;
}

